.form-control {
    background: none;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 5px 10px;
    display: block;
    border: none;
}

.submit-btn {
    border-radius: 2;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
}

.submit-btn:hover {
    background-color: black;
    color: white;
    border: none;
}

.form-and-alerts {
    display: flex;
    flex-direction: row;
}

.error {
    padding: 10px;
    margin: 5px 10px;
}